<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tukorea.itwiki.board.dao.BoardDao">

	<!-- 게시판 글 등록 -->
	<insert id="insertBoard" parameterType="com.tukorea.itwiki.board.domain.Board">
		INSERT INTO WikiPage (
			title,
			category,
			tag,
			content,
			viewCount,
			pageCreate,
			pageUpdate,
			userId
		) VALUES(
			#{title},
			#{category},
			#{tag},
			#{content},
			0,
			NOW(),
			NOW(),
			#{userId}
		)
	</insert>
	
	<!-- 게시판 총 건수 조회 -->
	<select id="selectBoardListTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) AS TOTAL_CNT
		FROM
			WikiPage
		WHERE
			${category}
			and title like '%${keyword}%'
	</select>
	
	<!-- 게시판 목록 조회 -->
	<select id="selectBoardList" parameterType="java.util.HashMap" resultType="com.tukorea.itwiki.board.domain.Board">
		SELECT
			pageId,
			title,
			category,
			viewCount,
			DATE_FORMAT(pageUpdate, '%Y-%m-%d %H:%i') AS pageUpdate,
			tag
		FROM
			WikiPage
		WHERE
			${category}
			and title like '%${keyword}%'
		ORDER BY
			${sort}
		LIMIT ${startNum}, ${listNum}
	</select>
	
	<!-- 게시판 상세 조회 -->
	<select id="selectBoardInfo" parameterType="Integer" resultType="com.tukorea.itwiki.board.domain.Board">
		SELECT
			pageId,
			title,
			tag,
			category,
			content,
			viewCount,
			DATE_FORMAT(pageCreate, '%Y-%m-%d %H:%i') AS pageCreate,
			DATE_FORMAT(pageUpdate, '%Y-%m-%d %H:%i') AS pageUpdate
		FROM
			WikiPage
		WHERE
		pageId = #{boardSeq}
	</select>

	<!-- 게시물 조회수 증가 -->
	<update id="updateBoardViewCount" parameterType="Integer">
		UPDATE WikiPage
		SET
			viewCount = viewCount + 1
		WHERE
			pageId = #{boardSeq}
	</update>

	
	<!-- 게시물 글 수정 -->
	<update id="updateBoard" parameterType="com.tukorea.itwiki.board.domain.Board">
		UPDATE WikiPage
		SET
			title = #{title},
			content = #{content},
			pageUpdate = NOW()
		WHERE
			pageId = #{pageId}
	</update>
	
	<!-- 게시물 글 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM WikiPage
		WHERE
			pageId = #{pageId}
	</delete>

	<!-- 게시글 수정 목록 추가 -->
	<insert id="insertRevision" parameterType="com.tukorea.itwiki.board.dto.RevisionForm">
		INSERT INTO Revision (
			content,
			revisionUpdate,
			pageId
		) VALUES(
			#{content},
			NOW(),
			#{pageId}
		)
	</insert>

	<!-- 카테고리 목록 조회 -->
	<select id="getAllCategory" resultType="java.lang.String">
		SELECT
			categoryName
		FROM
			Category
	</select>

	<!-- Revision 게시판 총 건수 조회 -->
	<select id="selectRevisionListTotalCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT
			COUNT(*) AS TOTAL_CNT
		FROM
			Revision
	</select>

	<!-- 게시판 목록 조회 -->
	<select id="selectRevisionList" parameterType="java.util.HashMap" resultType="com.tukorea.itwiki.admin.domain.Revision">
		SELECT
			revisionId,
			pageId,
			content,
			DATE_FORMAT(revisionUpdate, '%Y-%m-%d %H:%i') AS pageUpdate
		FROM
			Revision
		LIMIT ${startNum}, ${listNum}
	</select>

	<delete id="deleteRevision" parameterType="Integer">
		DELETE FROM Revision
		WHERE
			revisionId = #{revisionId}
	</delete>
</mapper>