/* footer.css */

.footer {
    background-color: #f7f7f7;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.footer h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer p,
.footer ul {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

.footer ul li a {
    color: #333;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.footer hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.footer p.text-center {
    font-size: 12px;
    color: #777;
}

.footer p.text-center a {
    color: #333;
    text-decoration: none;
}

.footer p.text-center a:hover {
    text-decoration: underline;
}
